In [1]:
import pandas as pd
from sklearn.datasets import load_iris
iris=load_iris()

In [2]:
dir(iris)

['DESCR',
 'data',
 'data_module',
 'feature_names',
 'filename',
 'frame',
 'target',
 'target_names']

In [3]:
iris.target

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [4]:
df = pd.DataFrame(iris.data, columns=iris.feature_names)
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [5]:
df['target'] = iris.target
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [6]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df.drop(['target'],axis='columns'),iris.target,test_size=0.2)

In [10]:
X_train

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
46                 5.1               3.8                1.6               0.2
5                  5.4               3.9                1.7               0.4
107                7.3               2.9                6.3               1.8
120                6.9               3.2                5.7               2.3
79                 5.7               2.6                3.5               1.0
..                 ...               ...                ...               ...
8                  4.4               2.9                1.4               0.2
83                 6.0               2.7                5.1               1.6
78                 6.0               2.9                4.5               1.5
47                 4.6               3.2                1.4               0.2
108                6.7               2.5                5.8               1.8

[120 rows x 4 columns]

In [11]:
y_train

array([0, 0, 2, 2, 1, 0, 1, 0, 1, 0, 1, 1, 2, 1, 2, 1, 1, 2, 2, 0, 1, 2,
       2, 0, 1, 2, 0, 1, 0, 0, 1, 2, 0, 2, 2, 1, 2, 0, 2, 0, 2, 0, 1, 0,
       0, 1, 0, 1, 1, 0, 2, 2, 2, 2, 1, 0, 1, 0, 0, 1, 1, 0, 1, 2, 2, 2,
       2, 1, 1, 0, 2, 0, 0, 1, 2, 0, 0, 0, 1, 1, 1, 1, 2, 0, 0, 1, 1, 2,
       0, 0, 2, 2, 1, 0, 1, 2, 2, 0, 1, 2, 2, 2, 0, 2, 0, 2, 1, 1, 2, 0,
       2, 0, 1, 1, 0, 0, 1, 1, 0, 2])

In [7]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier()
model.fit(X_train, y_train)

RandomForestClassifier()

In [8]:
model.score(X_test,y_test)

0.9333333333333333

In [9]:
model = RandomForestClassifier(n_estimators=40)
model.fit(X_train, y_train)
model.score(X_test,y_test)

0.9333333333333333